# CDK asset staging directory
.cdk.staging
cdk.out

# TypeScript source files
src/
*.ts
!*.d.ts

# Test files
test/
*.test.ts
vitest.config.ts

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Git files
.git/
.gitignore

# Build files
tsconfig.json
tsconfig.test.json
.eslintrc.js
.eslintignore

# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Amazon Q files
.amazonq/

# Misc
.DS_Store
*.tgz
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Exclude jsii outdir
dist

# Include .jsii and .jsii.gz
!.jsii
!.jsii.gz
